{% extends 'base.html.twig' %}

{% block header %}
    {% include '_navbar_homepage.html.twig' %}
{% endblock %}

{% block body %}
 
    <div class="row justify-content-center align-items-center block my-5">
        <div class=" col-12 justify-content-center align-items-center">
            <p class="h2 pt-3 text-center">
              Tableau des listes de taches
            </p>
        </div>
    
    <div class="row justify-content-center align-items-center block my-5">
        <div class=" col-12 justify-content-center align-items-center">
            <p>
                <button class="button" role="button">
                    <a class="" href="">
                      <i class="fas fa-plus"></i>
                        Créer une liste
                    </a>
                </button>
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center block my-5">
        <table class="table table-hover">
            <thead class="">
                <tr class="" >
                    <th scope="col">Titre</th>
                    <th scope="col">Echéance</th>
                    <th scope="col">Priorité</th>
                    <th scope="col">Progression</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>




{% endblock %}
       
