<footer>
    <div class="row justify-content-center align-items-center footer">
        <div class="col-12 text-center">
           Copyright @ Gestionnaire de listes - 2022  
        </div>
    </div>
</footer>